[Unit]
Description=direct_lock
After=pigpiod.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/autolock/direct_version/Python
ExecStart=python /home/pi/autolock/direct_version/Python/main.py
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
