[Unit]
Description=autolock
After=pigpiod.service mosquitto.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/autolock/gear_version
ExecStart=/home/pi/autolock/gear_version/bin/autolock
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

